<% @products.each do |product| %>
    <!-- % if @categ==product.category || @categ=="Todos" %-->
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
        <!--%if product.image.nil? %-->
            <img src="http://placehold.it/320x150" alt="">
        <!--%else%>
            < %= image_tag product.image, width: "260", height: "122", alt: product.name %> 
        < %end%-->
            <div class="caption">
                <h4><%= link_to product.name, product_path(:id => product.pId) %></h4>
                <p><%= product.description%></p>
                <h3 class="value pull-right" ><%= product.price %> COP</h3>
                <!--class="pull-right"-->
            </div>
        </div>
    </div>
<%end%>