<div class="panel regpanel"> 
    <h1><%= @product.name %></h1>
    
    <%= render 'form' %>
</div>
<br>
<% link_to 'Ver', @product, :class =>"btn btn-primary"%>
<% link_to 'Atras', :back, :class =>"btn btn-danger"%>