<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3">
    <h1 class="lead">Nuestros Productos</h1>
    <div class="list-group">
      <a href="/products" class="list-group-item">Todos los productos</a> <!-- asignar valor al @categ-->
      <a href="/products?category=Verduras" class="list-group-item">Verduras</a>
      <a href="/products?category=Frutas" class="list-group-item">Frutas</a>
      <a href="/products?category=Alimentos" class="list-group-item">Alimentos</a>
      <a href="/products?category=Aseo" class="list-group-item">Aseo</a>
      <a href="/products?category=Utencilios" class="list-group-item">Utencilios</a>
      <a href="/products?category=Bebidas" class="list-group-item">Bebidas</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <%= render partial: 'product_grid', locals: { products: @products} %>
    </div>
    <% sets = 1 + Product.all.count / 12%>
    <div class="row text-centered">
      <% if sets > 0 %>
          <div class="set">
            <% for l in 1..sets%>
                <a clas="tabs link-unstyled" href="/products?row=<%= l %>"><%= l %></a> 
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<br>